@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(178, 143, 148);
  /* linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  
  user-select: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.arrow {
  padding: 1rem 0.7rem 1rem 1rem;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  background-color: rgba(36, 38, 51, 0.731);
  border-radius: 15px;
}
.arrow:hover {
  cursor: pointer;
}

.slide, .unique-slide {
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
}

.capture-btn,.model-cycle  {
  left: 36vw;
}
.model-cycle {
  bottom: 15vh;
}
.capture-btn, .visibility-btn, .zoom-in-btn, .zoom-out-btn, .model-cycle  {
  position: absolute;

  padding: 20px 20px 19px 20px;

  border: solid white;
  border-radius: 20px;
  background-color: rgba(36, 38, 51, 0.731);
  cursor: pointer;
}
.visibility-btn, .zoom-in-btn, .zoom-out-btn {
  left: 38vw;
}
.visibility-btn, .capture-btn {
  top: -5vh;
}
.zoom-in-btn {
  top: calc(-25vh);
  -ms-transform: translateY(calc(-50%));
  transform: translateY(calc(-50%));
}
.zoom-out-btn {
  top: calc(25vh);
  -ms-transform: translateY(calc(-50%));
  transform: translateY(calc(-50%));
}

.image-array {
  position: absolute;
  left: 50%;
  top: -48vh;
  transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  max-width: 645px;
  width: 400px;
}

.dynamic-slide, .sample-slide {
  position: relative;
  width: 960px;
  height: fit-content;
}

.sample-slide {
  left: 9vw;
}